[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
metapy = "*"
numpy = "*"
pytoml = "*"
toml = '*'
Flask = "*"
Flask-SocketIO = "*"
luigi = "*"
dask = {extras = ["dataframe"], version = "*"}
pandas = '*'
csci-utils = {editable = true, git = "https://github.com/csci-e-29/2020fa-csci-utils-cznybj"}
textract = "*"
PyPDF2 = "*"
boto3 = '*'

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
fpdf = '*'

[requires]
python_version = "3.7"
